body {
	background: #FCF9EB; 
  padding: 1em 2em 1em 2em; 
  margin: 0 auto; 
  text-align: justify; 
}

.center {
  text-align: center; 
}

div.footer {
  margin-top: 10em; 
}

div.main {
}

div.app {
  padding: 2em; 
  border: black dashed 1px; 
}
div.app hr {
  border: #bbb dashed 1px; 
  margin-top: 1.5em; 
  margin-bottom: 1.5em; 
}

span.username {
  font-size: 2em; 
  font-weight: bold; 
  padding: 0.25em 1em; 
  border: 1px solid #000; 
  margin: 1em 1em; 
  display: block;
}

textarea {
  margin-bottom: 2em; 
  height:320px;
  resize:vertical;
}


@media only screen and (min-width: 720px) {
  body {
    max-width: 720px; 
  }
}
